.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-around;
}

#img-logo-header {
  display: flex;
  width: 100px;
  height: 100px;
}

h1 {
  display: flex;
  text-align: center;
}

#login {
  display: flex;
  float: right;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.camps {
  display: flex;
  flex-direction: column;
}

#img-logo-body {
  height: 500px;
  float: right;
  display: flex;
}