.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-around;
}

#img-logo-header {
  display: flex;
  width: 100px;
  height: 100px;
}

#title {
  display: flex;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  color: aliceblue;
}

#login-camps {
  display: flex;
  float: right;
  align-items: center;
}

.input-login {
  background-color:rgb(243, 243, 243);
  border: none;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
  color: gray;
  font-size: 15px;
  font-weight: bold;
}

#login {
  background-color: rgb(71, 71, 168);
  border: none;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
}


body {
  background-color: rgba(240, 240, 237, 0.791);
}

main {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.subtitle {
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
}

#evaluation-form {
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  margin-top: 150px;
}

.camps {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#input-name, #input-lastname, #input-email, #house {
  background-color: white;
  border: none;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
  color: gray;;
}

.division-1 {
  display: flex;
  flex-direction: row;
}

.divisison-2 {
  display: flex;
  flex-direction: row;
}

.division-3 {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
}

.input-family {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#label-family {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
}

.inputs-family {
  flex-direction: column;
  display: flex;
  font-size: 20px;
  gap: 15px;
}

.input-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#label-content {
  font-size: 20px;
}

.inputs-content {
  font-size: 20px;
  display: flex;
  width: 60%;
  gap: 20px;
  flex-wrap: wrap;
}

.input-rate {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.textarea-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
 } 

.input-agreement {
  padding-top: 50px;
  padding-bottom: 20px;
}

.input-family, .input-content, .input-rate, .textarea-text, .input-agreement {
  font-family:'Times New Roman', Times, serif;
  font-weight:100;
  font-size: 20px;
  color: black;
}

#submit-btn {
  background-color:rgb(71, 71, 168);
  border: none;
  padding: 15px;
  margin: 10px;
  width: 800px;
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  color:white;
  font-weight: bold;
  margin-bottom: 60px;
 }
 
#img-logo-body {
  height: 500px;
  float: right;
  display: flex;
}

.footer {
  display: flex;
  background-color: rgb(22, 22, 22);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 3vh;
 }
 